/*@import url('some google sans-serif font');*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

.form-box {
    color: hsl(191, 100%, 60%);
}

form {
    padding: 0 1rem;
}

.search-btn {
    width: 70%;
    height: 40px;
    color: hsl(191, 100%, 60%);
    background: white;
    font-size: 20px;
    margin: 1rem 0;
}

html {
    padding: 1rem 0rem;
    font-size: 20px;
    line-height: 1.5;
/*    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';*/
    font-family:roboto;
    
}

main {
    width: 95%;
    margin: 0 auto;
    border: 1px solid gray;
}

header {
    background-image: url(../img/husky2.jpeg);
    background-size: cover;
    color: hsl(191, 100%, 60%);
    font-size: 2rem;
    float: left;
    padding: 1rem 1rem;
    
    height: auto;
    max-width: 100%;
    
    
    
}


#place {
    background-color: hsl(191, 100%, 60%);
}


input {
    width: 100%;
    height: 1.5rem;
    padding: 0 1rem;
}

#num-dogs {
    color: hsl(191, 100%, 60%);
}

#check-in {
    color: hsl(191, 100%, 60%);
}

#check-out {
    color: hsl(191, 100%, 60%);
}

input#min.price::after {
    content: "$"attr(data-price);
    display: block;
    margin-top: -1rem;
}

input.price#max::after {
    content: "$"attr(data-price);
    display: block;
    margin-top: -1.5rem;
}

@media (min-width: 600px) and (max-width:800px) {
    html {
        font-size: 16px;
    }

    header {
        width: 100%;
        height: 450px;
        background-repeat: no-repeat;
        font-size: 40px;
    }

    span {
        position: relative;
        top: 80px;
        left: -220px;
    }

    .form-box {
        width: 100%;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'place place'
            'check-in check-out'
            'min-price max-price'
            'dogs search';
    }

    .place {
        grid-area: place;
        text-align: left;
        display:grid;
        width: 100%;
        
        padding: 0 1.5rem; 
    }

    .check-in {
        grid-area: check-in;
        padding: 0 1.5rem;
    }

    .check-out {
        grid-area: check-out;
        padding: 0 1.5rem;
    }

    .min-price {
        grid-area: min-price;
        padding: 0 1.5rem;

    }

    .max-price {
        grid-area: max-price;
        padding: 0 1.5rem;
    }

    .dogs {
        grid-area: dogs;
        padding: 0 1.5rem;
    }

    .search-btn {
        width: 30%;
        height: 30px;
        background: #ddd;
        font-size: 20px;
        float: right;
        margin: 1rem 1rem;

    }
}

@media (min-width: 1000px) {

    header {
        height: 342px;
        font-size: 2rem;
        float: left;
    }

    span {
        position: relative;
        top: 80px;
        left: -220px;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'place place'
            'check-in check-out'
            'min-price max-price'
            'dogs search';
    }

    .place {
        grid-area: place;
        padding: 1rem 1rem;

    }

    .check-in {
        grid-area: check-in;
        padding: 0 1rem;
    }

    .check-out {
        grid-area: check-out;
        padding: 0 1rem;
    }

    .min-price {
        grid-area: min-price;
        padding: 1rem 1rem;
    }

    .max-price {
        grid-area: max-price;
        padding: 1rem 1rem;
    }

    .dogs {
        grid-area: dogs;
        width: 100%;
        padding: 0 1rem;
    }

    .search-btn {
        width: 40%;
        height: 30px;
        background: white;
        font-size: 20px;
        float: right;
        margin: 1rem 1rem;

    }
}


